<div class="traveller-page">
  <h1 style="text-align: center; " class="mb-3">Traveller details</h1>
<div class="d-flex justify-content-center">


<form  #form3="ngForm" style="width:500px" (ngSubmit)="saveTraveller(form3)">

  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label" >PackageName</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" name="packageName" [(ngModel)]="traveller.packageName"  disabled>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label" >PackagePrice</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" name="packagePrice
      " [(ngModel)]="packagee.packagePrice" disabled >
    </div>
  </div>

  <div class="form-group row" >
    <label for="inputPassword3" class="col-sm-2 col-form-label"  >Email</label>
     <div class="col-sm-7">
      <input type="text" class="form-control" name="travellerEmail" [(ngModel)]="userDetails.email" disabled="" >
    </div>
  </div>

  <div class="form-group row" >
    <label for="inputPassword3" class="col-sm-2 col-form-label" >StartDate</label>
    <div class="col-sm-7">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" [min]="minDate"  name="journeyStartingDate" [(ngModel)]="traveller.journeyStartingDate" placeholder="Choose Starting date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker ></mat-datepicker>
      </mat-form-field>
      </div>
  </div>


  <!-- <div class="form-group row" >
    <label for="inputPassword3" class="col-sm-2
     col-form-label" >EndingDate</label>
    <div class="col-sm-7">
      <input type="date" name="journeyStartingDate" id="inputPassword3" [(ngModel)]="traveller.journeyEndingDate">
    </div>
  </div>  -->




  <div  class="d-flex justify-content-md-center">
    <!-- <button class="btn btn-primary" (click)="showModal()">AddPassenger</button> -->
    <input type="button" value="AddPassenger"  (click)="showModal()" class="btn btn-primary">
  </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Gender</th>
          <th scope="col">Aadhar</th>
          <th scope="col">Action</th>
        </tr>
      </thead>

      <!-- <div > -->
      <tbody>
        <tr *ngFor="let value of passengerDetailsArry;index as i">
          <td>{{value.passengerName}}</td>
          <td>{{value.passengerAge}}</td>
          <td>{{value.passengerGender}}</td>
          <td>{{value.passengerAadhar}}</td>
          <td><button class="btn btn-danger" (click)="deletePassenger(i)"><i class="fas fa-trash-arrow-up"></i></button>
        </tr>
      </tbody>
      <!-- </div> -->
    </table>
  <button type="submit" class="btn btn-primary">Next</button>
  </form>
  </div>




  <!--modal -->
  <div class="modal custompass " tabindex="-1" style="display:block" *ngIf='this.showmodal'>
    <div class="modal-dialog ">
      <div class="modal-content ">
        <div class="modal-header">
          <h5 class="modal-title">PassengerDetails</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="hideModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form  #form3="ngForm"  (ngSubmit)="savePassenger(form3)">
          <div class="form-group row" >

            <label for="inputPassword3" class="col-sm-2 col-form-label" >Name</label>
             <div class="col-sm-7">
              <input type="text" class="form-control"  name="passengerName" [(ngModel)]="passenger.passengerName">
            </div>
          </div>
          <div class="form-group row" >
            <label for="inputPassword3" class="col-sm-2 col-form-label" >Age</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" name="passengerAge" [(ngModel)]="passenger.passengerAge">
            </div>
          </div>
          <div class="form-group row" >
            <label for="inputPassword3" class="col-sm-2 col-form-label" >Gender</label>
            <div class="col-sm-7">
              male  <input type="radio" name="passengerGender" id="inputPassword3" value="Male" [(ngModel)]="passenger.passengerGender">&nbsp;&nbsp;
              Female  <input type="radio" name="passengerGender" id="inputPassword3" value="Female" [(ngModel)]="passenger.passengerGender">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label" >AadharNo</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" name="passengerAadhar"  [(ngModel)]="passenger.passengerAadhar">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="hideModal()">Close</button>

            <button type="submit" class="btn btn-primary" >Save</button>
          </div>
          </form>

      </div>
      </div>
    </div>
  </div>

</div>
